<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poolId</key>
	<string>us-west-2_MXlNu6Pnm</string>
	<key>clientId</key>
	<string>3l2kss1d66s0hiaovjirun1pfs</string>
	<key>region</key>
	<string>us-west-2</string>
</dict>
</plist>
